<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.37" targetFramework="net461" />
  <package id="Revit.RevitApi.x64" version="2023.0.0" targetFramework="net48" />
  <package id="Revit.RevitApiUI.x64" version="2023.0.0" targetFramework="net48" />
</packages>